codigo para filtrar solo de las elecciones

In [4]:
path = "/content/drive/My Drive/Hackaton Elecciones/test/"#/datos compilados/"

In [5]:
import pandas as pd
df_inicial=pd.read_csv(path+'elDeber_2020-09-01.csv')#'el_deber_consolidado.csv')

In [ ]:
df_inicial.head()

          data-item-id  ...        date
0  1300913308069961730  ...  2020-09-01
1  1300941101839388673  ...  2020-09-01
2  1300912178392899584  ...  2020-09-01
3  1300925429491077122  ...  2020-09-01
4  1300933879075921920  ...  2020-09-01

[5 rows x 6 columns]

In [ ]:
df_inicial['tweet']=df_inicial['tweet'].str.lower()

In [ ]:
list_words = pd.DataFrame({'find_words': ['Carlos Mesa','Mesa','Pedrasa','Luis Arce Catacora','Arce','David Choquehuanca','Choquehuanca','Luis Fernando Camacho','Camacho',
'Marco Pumari','Jorge Tuto Quiroga','Tuto','María de la  Cruz Bayá','Bayá','Feliciano Mamani','Feliciano','Chi Hyun Chung','Chi',
'Comunidad Ciudadana','CC','Creemos','Libre 21','Movimiento Al Socialismo','MAS','Frente para la Victoria','FPV',
'Partido de Acción Nacional Boliviano','PAN-BOL','Acción Democrática Nacional','ADN','Eleccion','Debate','Presidencial',
'Candidato','Partido político','Partido','político','Campaña','Electoral','Propuesta','Plan de gobierno','Voto',
'Intención de voto','Vicepresidente','President','Gobierno']})

In [ ]:
list_words.head()

           find_words
0         Carlos Mesa
1                Mesa
2             Pedrasa
3  Luis Arce Catacora
4                Arce

In [ ]:
list_words['find_words']=list_words['find_words'].str.lower()

In [ ]:
list_words.head()

           find_words
0         carlos mesa
1                mesa
2             pedrasa
3  luis arce catacora
4                arce

In [ ]:
mask = [any(i in words for i in list_words['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]

print(df_inicial[mask])
df_eleccion=df_inicial[mask]

            data-item-id  ...        date
1    1300941101839388673  ...  2020-09-01
3    1300925429491077122  ...  2020-09-01
5    1300923969642680321  ...  2020-09-01
21   1300941101839388673  ...  2020-09-01
27   1300925429491077122  ...  2020-09-01
..                   ...  ...         ...
475  1300925429491077122  ...  2020-09-01
476  1300923969642680321  ...  2020-09-01
485  1300941101839388673  ...  2020-09-01
491  1300925429491077122  ...  2020-09-01
492  1300923969642680321  ...  2020-09-01

[93 rows x 6 columns]

In [ ]:
df_eleccion.head()

           data-item-id  ...        date
1   1300941101839388673  ...  2020-09-01
3   1300925429491077122  ...  2020-09-01
5   1300923969642680321  ...  2020-09-01
21  1300941101839388673  ...  2020-09-01
27  1300925429491077122  ...  2020-09-01

[5 rows x 6 columns]

# trabajando con los datos consolidados, filtro elecciones

EL DEBER

In [6]:
list_words = pd.DataFrame({'find_words': ['Carlos Mesa','Mesa','Pedrasa','Luis Arce Catacora','Arce','David Choquehuanca','Choquehuanca','Luis Fernando Camacho','Camacho',
'Marco Pumari','Jorge Tuto Quiroga','Tuto','María de la  Cruz Bayá','Bayá','Feliciano Mamani','Feliciano','Chi Hyun Chung','Chi',
'Comunidad Ciudadana','CC','Creemos','Libre 21','Movimiento Al Socialismo','MAS','Frente para la Victoria','FPV',
'Partido de Acción Nacional Boliviano','PAN-BOL','Acción Democrática Nacional','ADN','Eleccion','Debate','Presidencial',
'Candidato','Partido político','Partido','político','Campaña','Electoral','Propuesta','Plan de gobierno','Voto',
'Intención de voto','Vicepresidente','President','Gobierno']})

In [7]:
list_words['find_words']=list_words['find_words'].str.lower()

In [ ]:
list_words.head()

In [ ]:
path = "/content/drive/My Drive/Hackaton Elecciones/datos compilados/"

In [ ]:
import pandas as pd
df_inicial=pd.read_csv(path+'el_deber_consolidado.csv')

In [ ]:
df_inicial.head()

In [ ]:
df_inicial['tweet']=df_inicial['tweet'].str.lower()

In [ ]:
mask = [any(i in words for i in list_words['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]

print(df_inicial[mask])
df_eleccion=df_inicial[mask]

In [ ]:
df_eleccion.head()

In [ ]:
df_eleccion.to_csv('el_deber_elecciones.csv',encoding='utf-8-sig', index=False)

In [ ]:
df_eleccion.to_excel('el_deber_elecciones.xlsx',encoding='utf-8-sig', index = False, header=True)

LA RAZON

In [ ]:
import pandas as pd
df_inicial=pd.read_csv(path+'la_razon_consolidado.csv')

In [ ]:
df_inicial.head()

In [ ]:
df_inicial['tweet']=df_inicial['tweet'].str.lower()

In [ ]:
mask = [any(i in words for i in list_words['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]

print(df_inicial[mask])
df_eleccion=df_inicial[mask]

In [ ]:
df_eleccion.head()

In [ ]:
df_eleccion.to_csv('la_razon_elecciones.csv',encoding='utf-8-sig', index=False)

In [ ]:
df_eleccion.to_excel('la_razon_elecciones.xlsx',encoding='utf-8-sig', index = False, header=True)

# FILTRO PERSONAJES

In [ ]:
list_mas = pd.DataFrame({'find_words': ['Movimiento Al Socialismo','MAS','Luis Arce Catacora','Arce','David Choquehuanca','Choquehuanca','Evo  Morales','Morales','Evo',
'Eva Copa','Andrónico Rodríguez','Andrónico','Leonardo Loza','Loza','Sergio Choque','Choque']})
list_cc  = pd.DataFrame({'find_words': ['Comunidad Ciudadana','CC','Carlos Diego Mesa de Gisberth','Mesa','Gustavo Pedraza Merida',
'Ricardo Paz Ballivian','Rodrigo Paz Pereira']})
list_creemos = pd.DataFrame({'find_words': ['CREEMOS','Luis Fernando Camacho Vaca','Camacho','Marco Pumari','Pumari','Walter Chavez','Roxana Lizarraga']})
list_fpv = pd.DataFrame({'find_words': ['Frente Para la Victoria','FPV','Chi Hyun Chung','Chi','Salvador Emilio Pinto Marín']})
list_libre = pd.DataFrame({'find_words': ['Libertad y Democracía','Libre21','Jorge Fernando Quiroga Ramirez,','Tuto','Toamsa Yarhui Jacome]})
list_panbol = pd.DataFrame({'find_words': ['Partido de Acción Nacional Boliviano','PAN-BOL','Feliciano Mamani Ninavia','Feliciano','Ruth Yolanda Nina']})
list_mas = pd.DataFrame({'find_words': ['']})

In [ ]:
#list_mas['find_words']=list_mas['find_words'].str.lower()

In [ ]:
list_mas.head()

                 find_words
0  Movimiento Al Socialismo
1                       MAS
2        Luis Arce Catacora
3                      Arce
4        David Choquehuanca

EL DEBER

In [ ]:
path = "/content/drive/My Drive/Hackaton Elecciones/datos compilados/"

In [ ]:
import pandas as pd
df_inicial=pd.read_csv(path+'el_deber_consolidado.csv')

In [ ]:
df_inicial.head()

          data-item-id  ...        date
0  1312035188923301891  ...  2020-10-02
1  1312064719696601088  ...  2020-10-02
2  1312065879157374979  ...  2020-10-02
3  1312066077921349633  ...  2020-10-02
4  1312024628693479424  ...  2020-10-02

[5 rows x 4 columns]

In [ ]:
#df_inicial['tweet']=df_inicial['tweet'].str.lower()

In [ ]:
mask = [any(i in words for i in list_mas['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]

print(df_inicial[mask])
df_eleccion=df_inicial[mask][:]

             data-item-id  ...        date
55    1312209891071725568  ...  2020-10-02
105   1312813326980837377  ...  2020-10-04
112   1313095374748483588  ...  2020-10-05
151   1313495580199530502  ...  2020-10-06
160   1313471459684163590  ...  2020-10-06
...                   ...  ...         ...
1113  1302020980005646336  ...  2020-09-04
1123  1302024721282801666  ...  2020-09-04
1129  1302001763982159873  ...  2020-09-04
1135  1301600487658131456  ...  2020-09-03
1141  1301582602063802368  ...  2020-09-03

[62 rows x 4 columns]

In [ ]:
df_eleccion.head()

            data-item-id  ...        date
55   1312209891071725568  ...  2020-10-02
105  1312813326980837377  ...  2020-10-04
112  1313095374748483588  ...  2020-10-05
151  1313495580199530502  ...  2020-10-06
160  1313471459684163590  ...  2020-10-06

[5 rows x 4 columns]

In [ ]:
df_eleccion['partido']='MAS'
df_eleccion.head()

            data-item-id       username  ...        date partido
55   1312209891071725568  @grupoeldeber  ...  2020-10-02     MAS
105  1312813326980837377  @grupoeldeber  ...  2020-10-04     MAS
112  1313095374748483588  @grupoeldeber  ...  2020-10-05     MAS
151  1313495580199530502  @grupoeldeber  ...  2020-10-06     MAS
160  1313471459684163590  @grupoeldeber  ...  2020-10-06     MAS

[5 rows x 5 columns]

In [ ]:
df_eleccion.to_csv('el_deber_partido_mas.csv',encoding='utf-8-sig', index=False)

In [ ]:
df_eleccion.to_excel('el_deber_partido_mas.xlsx',encoding='utf-8-sig', index = False, header=True)

LISTA GENERAL DE PALABRAS CLAVE PARTIDOS

In [ ]:
list_mas = pd.DataFrame({'find_words': ['Movimiento Al Socialismo','MAS','Luis Arce Catacora','Arce','David Choquehuanca','Choquehuanca','Evo  Morales','Morales','Evo',
'Eva Copa','Andrónico Rodríguez','Andrónico','Leonardo Loza','Loza','Sergio Choque','Choque']})
list_cc  = pd.DataFrame({'find_words': ['Comunidad Ciudadana','CC','Carlos Diego Mesa de Gisberth','Mesa','Gustavo Pedraza Merida',
'Ricardo Paz Ballivian','Rodrigo Paz Pereira']})
list_creemos = pd.DataFrame({'find_words': ['CREEMOS','Luis Fernando Camacho Vaca','Camacho','Marco Pumari','Pumari','Walter Chavez','Roxana Lizarraga']})
list_fpv = pd.DataFrame({'find_words': ['Frente Para la Victoria','FPV','Chi Hyun Chung','Chi','Salvador Emilio Pinto Marín']})
list_libre = pd.DataFrame({'find_words': ['Libertad y Democracía','Libre21','Jorge Fernando Quiroga Ramirez,','Tuto','Toamsa Yarhui Jacome']})
list_panbol = pd.DataFrame({'find_words': ['Partido de Acción Nacional Boliviano','PAN-BOL','Feliciano Mamani Ninavia','Feliciano','Ruth Yolanda Nina']})
#list_extra = pd.DataFrame({'find_words': ['']})

COMENZANDO EL DEBER DE NUEVO POR PARTIDO

In [ ]:
path = "/content/drive/My Drive/Hackaton Elecciones/datos compilados/"

In [ ]:
import pandas as pd
df_inicial=pd.read_csv(path+'el_deber_consolidado.csv')

In [ ]:
partido='MAS'
mask = [any(i in words for i in list_mas['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]
df_mas=df_inicial[mask][:]
df_mas['partido']=partido
df_mas.to_csv('el_deber_partido_'+partido+'.csv',encoding='utf-8-sig', index=False)
df_mas.to_excel('el_deber_'+partido+'.xlsx',encoding='utf-8-sig', index = False, header=True)

In [ ]:
partido='CC'
mask = [any(i in words for i in list_cc['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]
df_cc=df_inicial[mask][:]
df_cc['partido']=partido
df_cc.to_csv('el_deber_partido_'+partido+'.csv',encoding='utf-8-sig', index=False)
df_cc.to_excel('el_deber_'+partido+'.xlsx',encoding='utf-8-sig', index = False, header=True)

In [ ]:
partido='CREEMOS'
mask = [any(i in words for i in list_creemos['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]
df_creemos=df_inicial[mask][:]
df_creemos['partido']=partido
df_creemos.to_csv('el_deber_partido_'+partido+'.csv',encoding='utf-8-sig', index=False)
df_creemos.to_excel('el_deber_'+partido+'.xlsx',encoding='utf-8-sig', index = False, header=True)

In [ ]:
partido='FPV'
mask = [any(i in words for i in list_fpv['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]
df_fpv=df_inicial[mask][:]
df_fpv['partido']=partido
df_fpv.to_csv('el_deber_partido_'+partido+'.csv',encoding='utf-8-sig', index=False)
df_fpv.to_excel('el_deber_'+partido+'.xlsx',encoding='utf-8-sig', index = False, header=True)

In [ ]:
partido='Libre21'
mask = [any(i in words for i in list_libre['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]
df_libre=df_inicial[mask][:]
df_libre['partido']=partido
df_libre.to_csv('el_deber_partido_'+partido+'.csv',encoding='utf-8-sig', index=False)
df_libre.to_excel('el_deber_'+partido+'.xlsx',encoding='utf-8-sig', index = False, header=True)

In [ ]:
partido='PAN-BOL'
mask = [any(i in words for i in list_panbol['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]
df_panbol=df_inicial[mask][:]
df_panbol['partido']=partido
df_panbol.to_csv('el_deber_partido_'+partido+'.csv',encoding='utf-8-sig', index=False)
df_panbol.to_excel('el_deber_'+partido+'.xlsx',encoding='utf-8-sig', index = False, header=True)

LA RAZON

In [ ]:
import pandas as pd
df_inicial=pd.read_csv(path+'la_razon_consolidado.csv')

In [ ]:
partido='MAS'
mask = [any(i in words for i in list_mas['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]
df_mas=df_inicial[mask][:]
df_mas['partido']=partido
df_mas.to_csv('la_razon_partido_'+partido+'.csv',encoding='utf-8-sig', index=False)
df_mas.to_excel('la_razon_'+partido+'.xlsx',encoding='utf-8-sig', index = False, header=True)

In [ ]:
partido='CC'
mask = [any(i in words for i in list_cc['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]
df_cc=df_inicial[mask][:]
df_cc['partido']=partido
df_cc.to_csv('la_razon_partido_'+partido+'.csv',encoding='utf-8-sig', index=False)
df_cc.to_excel('la_razon_'+partido+'.xlsx',encoding='utf-8-sig', index = False, header=True)

In [ ]:
partido='CREEMOS'
mask = [any(i in words for i in list_creemos['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]
df_creemos=df_inicial[mask][:]
df_creemos['partido']=partido
df_creemos.to_csv('la_razon_partido_'+partido+'.csv',encoding='utf-8-sig', index=False)
df_creemos.to_excel('la_razon_'+partido+'.xlsx',encoding='utf-8-sig', index = False, header=True)

In [ ]:
partido='FPV'
mask = [any(i in words for i in list_fpv['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]
df_fpv=df_inicial[mask][:]
df_fpv['partido']=partido
df_fpv.to_csv('la_razon_partido_'+partido+'.csv',encoding='utf-8-sig', index=False)
df_fpv.to_excel('la_razon_'+partido+'.xlsx',encoding='utf-8-sig', index = False, header=True)

In [ ]:
partido='Libre21'
mask = [any(i in words for i in list_libre['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]
df_libre=df_inicial[mask][:]
df_libre['partido']=partido
df_libre.to_csv('la_razon_partido_'+partido+'.csv',encoding='utf-8-sig', index=False)
df_libre.to_excel('la_razon_'+partido+'.xlsx',encoding='utf-8-sig', index = False, header=True)

In [ ]:
partido='PAN-BOL'
mask = [any(i in words for i in list_panbol['find_words'].values) \
        for words in df_inicial['tweet'].str.split().values]
df_panbol=df_inicial[mask][:]
df_panbol['partido']=partido
df_panbol.to_csv('la_razon_partido_'+partido+'.csv',encoding='utf-8-sig', index=False)
df_panbol.to_excel('la_razon_'+partido+'.xlsx',encoding='utf-8-sig', index = False, header=True)

union de archivos de partidos

In [ ]:
def get_merged_csv(flist, **kwargs):
    return pd.concat([pd.read_csv(f, **kwargs) for f in flist], ignore_index=True)

path = "/content/drive/My Drive/Hackaton Elecciones/datos compilados/laRazon"
fmask = os.path.join(path, '*.csv')

df_razon = get_merged_csv(glob.glob(fmask), index_col=None, usecols=['date','tweet','data-item-id','username'])

print(df_razon.head())

          data-item-id  ...        date
0  1314264732040409089  ...  2020-10-08
1  1314246652656582660  ...  2020-10-08
2  1314207483884261377  ...  2020-10-08
3  1314022369288024064  ...  2020-10-07
4  1314046779554508801  ...  2020-10-07

[5 rows x 4 columns]

In [ ]:
df_razon.shape

(19701, 4)

In [ ]:
# Remove Duplicate rows
df_razon.drop_duplicates(subset=None, inplace=True)

In [ ]:
df_razon.to_csv('la_razon_consolidado.csv',encoding='utf-8-sig', index=False)

In [ ]:
df_razon.to_excel('la_razon_consolidado.xlsx',encoding='utf-8-sig', index = False, header=True)